.checkout__ad {
  width: 100%;
  margin-bottom: 10px;
}
.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
}
.checkout__title {
  margin-right: 10px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}
.subtotal_box {
  position: fixed;
  margin-left: 35%;
  margin-top: 60px;
}
.subtotal_box_mobile {
  display: none;
}
.checkout__left {
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .subtotal_box_mobile {
    display: flex;
    justify-content: center;
  }
  .subtotal_box {
    display: none;
  }
}
